$brand:            #405FF2;

$white:            #FFFFFF;
$black:            #000000;
$light-green:      #29CE74;
$green:            #149C52;
$green-2:          #3D923A;
$light-blue:       #E4E8F3;
$light-blue-2:     #F4F7FF;
$dark:             #3B3F48;
$red:              #E84747;
$yellow:           #FAC335;

$dark-grey:        #B2B4BA;
$grey:             #D9DBE9;
$light-grey:       #EFF0F6;
$light-grey-2:     #F7F7FC;
$light-grey-3:     #FCFCFC;
$light-grey-4:     #EAEBF2;

$text:             #14142B;
$text-dark:        #4E4B66;
$text-grey:        #6E7191;
$text-light:       #A0A3BD;

.c-text {
	color: $text;
}